AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIAVKVCS23SJWMIVTDS
AWS_SECRET_ACCESS_KEY=AKIAVKVCS23SJWMIVTDS
S3_BUCKET_NAME=bucket-olxmeproject
STRIPE_SECRET_KEY=sk_test_51TtMELF3ApBzUsgpq1VUInKXy1rNwdpzmnSeor48bZPy8Gi3RDJ3UswcxnxlLSCJs7yabJM6f14H0HdIQrvBy84B00rQ6dyE1L
